<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="themes/css/juno.css"
            id="k.eclipse.junodark"
            label="Eclipse Juno Dark">
      </theme>
   </extension>

</plugin>
